<form [formGroup]="form" (ngSubmit)="login()">
<div formGroupName="account">
    <div class="form-group">
        <div 
            class="alert alert-danger"
            *ngIf="form.errors"
        >
            The user or password is invalid.
        </div>
        <label for="username">Username</label>
        <input 
            formControlName="username"
            id="username"
            type="text"
            class="form-control"
        >
        <div *ngIf="username.pending">checking...</div>
        <div 
            *ngIf="username.touched && !username.valid"
            class="alert alert-danger"
            (click)="log(username.errors)"
        >
            <div *ngIf="username.errors.required">Username is Required.</div>
            <div *ngIf="username.errors.minlength">Username should have at least {{ username.errors.minlength.requiredLength }} characters.</div>
            <div *ngIf="username.errors.cannotContainSpace">Username should be only one word.</div>
            <div *ngIf="username.errors.shouldBeUnique">This username already exists.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
    </div>
</div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
<hr>
<hr>
<form>
    <input 
        type="text" 
        class="form-control"
        placeholder="write topic and hit enter" 
        #topic
        (keyup.enter)="addTopic(topic)"
    >
    <ul class="list-group">
        <li 
            *ngFor="let topic of topics.controls"
            (click)="removeTopic(topic)"
            class="list-group-item"
        >
            {{ topic.value }}
        </li>
    </ul>
</form>
<hr>
<hr>
<form [formGroup]="form3">
    <div class="form-group">
        <label for="old">Old Password</label>
        <input 
            class="form-control" id="old" type="password"
            formControlName="oldPass"
        >
        <div 
            *ngIf="oldPass.touched && oldPass.invalid"
            class="alert alert-danger">
                <div *ngIf="oldPass.errors.required">
                    Required field.
                </div>
        </div>
    </div>
    <div class="form-group">
        <label for="new">New Password</label>
        <input 
            class="form-control" id="new" type="password"
            formControlName="newPass"
        >
        <div 
            *ngIf="newPass.touched && newPass.invalid"
            class="alert alert-danger">
                <div *ngIf="newPass.errors.required">
                    Required field.
                </div>
        </div>
    </div>
    <div class="form-group">
        <label for="repeat">Confirm Password</label>
        <input 
            class="form-control" id="repeat" type="password"
            formControlName="repPass"
        >
        <div 
            *ngIf="repPass.touched && repPass.invalid"
            class="alert alert-danger"
        >
                <div *ngIf="repPass.errors.required">
                    Required field.
                </div>
        </div>
         <div class="alert alert-danger" *ngIf="form3.invalid && repPass.touched && form3.errors.notMatchPasswords">
            Must be equal to New Password.
        </div>
    </div>
    <button 
        type="submit"
        class="btn btn-primary"
        [disabled]="form3.invalid"
    >
        Change Password
    </button>
</form>