<form #f="ngForm" (ngSubmit)="submit(f)">
	<div class="form-group">
		<label for="nameSender">Your Name</label>
		<input 
		type="text" 
		ngModel 
		name="nameSender" 
		#nameSender="ngModel" 
		(change)="log(nameSender)"
		id="nameSender" 
		class="form-control" 
		placeholder="write bannana" 
		required 
		minlength="3" 
		maxlength="10" 
		pattern="bannana" 
		>
		<div 
		class="alert alert-danger" 
		*ngIf="nameSender.touched && !nameSender.valid"
		>
		<ul>
			<li *ngIf="nameSender.errors.required">
				Your name is required
			</li>
			<li *ngIf="nameSender.errors.minlength">
				Your name can't be less than {{ nameSender.errors.minlength.requiredLength }} characters length
			</li>
			<li *ngIf="nameSender.errors.maxlength">
				Your name can't be more than {{ nameSender.errors.maxlength.requiredLength }} characters length
			</li>
			<li *ngIf="nameSender.errors.pattern">
				Your name doesn't match <b>{{ nameSender.errors.pattern.requiredPattern }}</b>
			</li>
		</ul>
	</div>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label> 
		<input 
		type="email"
		ngModel
		name="emailSender" 
		#emailSender="ngModel"
		(blur)="log(emailSender)"
		id="exampleInputEmail1" 
		class="form-control" 
		placeholder="Enter email"
		required 
		email
		>
		<div 
			class="alert alert-danger" 
			*ngIf="emailSender.touched && !emailSender.valid">
			<div *ngIf="emailSender.errors.required">
				We force you to give us your email!
			</div>
			<div *ngIf="emailSender.errors.email">
				We force you to give us your email!
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="comment">Comment</label>
		<textarea 
		ngModel 
		name="comment" 
		class="form-control" 
		id="comment" 
		cols="30" 
		rows="10"
		></textarea>
	</div>
	<div class="checkbox">
		<label for="check">
			<input 
			id="check" 
			type="checkbox"
			ngModel
			name="isSubscribed"
			> (checkbox)
		</label>
	</div>
	<div class="form-group">
		<label for="contactMethod">Contact Method</label>
		<select 
			multiple 
			name="contactMethod"
			ngModel
			id="contactMethod"
			class="form-control"
		>
			<option 
				*ngFor="let method of contactMethods"
				[ngValue]="method"
			>
				{{ method.name }}
			</option>
		</select>
	</div>
	<div class="form-group">
		<label *ngFor="let radioMethod of contactMethods">
			<input 
				type="radio" 
				ngModel
				name="radioMethod" 
				[value]="radioMethod"
			>
			{{ radioMethod.name }}
		</label>
	</div>
	<p>
		{{ f.value | json }}
	</p>
	<button [disabled]="!f.valid" type="submit" class="btn btn-primary">
		Submit
	</button>
</form>