<h2>If-Else statement</h2>

<p>1st aproach:</p>
<div *ngIf="things.length > 0">
	<h3>List of things</h3>
</div>
<div *ngIf="things.length == 0">
	<h3>No things yet</h3>
</div>


<p>2nd aproach:</p>
<div *ngIf="things.length > 0; then listThings else noThings"></div>
<ng-template #listThings>
	<h3>List of things</h3>
</ng-template>
<ng-template #noThings>
	<h3>No things yet</h3>
</ng-template>


<p>3rd aproach:</p>
<div [hidden]="things.length == 0">
	<h3>List of things</h3>
</div>
<div [hidden]="things.length > 0">
	<h3>No things yet</h3>
</div>
<hr>
<h2>Switch statement</h2>

<ul class="navbar navbar-light bg-light navbar-nav">
	<li class="nav-item" [class.active]="viewMode == 'map'"><a href="#" (click)="viewMode = 'map'">Map View</a></li>
	<li class="nav-item" [class.active]="viewMode == 'list'"><a href="#" (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode" >
	<div *ngSwitchCase="'map'">Map View Content</div>
	<div *ngSwitchCase="'list'">List VIew content</div>
	<div *ngSwitchDefault>Otherwise</div>
</div>

<hr>
<h2>For loop (ngFor)</h2>
<button (click)="loadThings()">Things Gen</button>
<button (click)="onAdd()">Add 4th</button>
<ul>
	<li *ngFor="let thing of thingsObj; index as i">
		{{ i + ' - ' + thing.name}}
		<button (click)="onRemove(thing)">Remove</button>
		<button (click)="onChange(thing)">Change</button>
	</li>
</ul>
<h2>For loop (ngFor with trackBy)</h2>
<ul>
	<li *ngFor="let thing of thingsObj; trackBy: trackThing">
		{{ thing.name }}
	</li>
</ul>
<br><br>
<h2>[ngClass]</h2>
<i 
	class="fa-star"  
	(click)="favClick()"
	[ngClass]="{
		'fa': isFavorite,
		'far': !isFavorite
	}"
></i>

<h2>[ngStyle]</h2>

<button
	(click)="onSave()"
	[ngStyle]="{
	'backgroundColor': canSave ? 'blue':'gray',
	'color': canSave ? 'white':'black',
	'fontWeight': canSave ? 'bold':'normal'
}"
>Save</button>

<br><br>
<h2>Custom Directives</h2>

<input type="text" [appInputFormat]="'uppercase'" />