<h1>Angular</h1>
<courses></courses>

<br>
<favorite [isFavorite]="post.isFavorite" (caca)="onFavoriteChanged($event)"></favorite>
<br>
<title-capitalize></title-capitalize>
<br><br>
<bootstrap-panel>
	<ng-container class="header">Hey Jude</ng-container>
	<div class="body">
		<h2>TIme's out!</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quam quae eaque, quod facere quis nobis. Odit commodi similique veritatis eum, a deserunt neque autem cumque ullam numquam! Delectus, debitis.</p>
	</div>
</bootstrap-panel>
<love-it [loveIt]="tweet.loveIt" (changeLove)="onLoveChanged($event)"></love-it>
<br><hr><hr><br>
<h1>Directives</h1>
<crazy-diretives></crazy-diretives>

<div class="d-flex">
	<zippy title="Shipping Details" class="mr-3">
		<ng-container class="zippy-body">Shipping Details Content</ng-container>
	</zippy>
	<zippy title="Billing Details">
		<ng-container class="zippy-body">Billing Details Content</ng-container>
	</zippy>
</div>

<br> <br> <br>

<div class="app-form">
	<contact-form></contact-form>
</div>
<br><hr>
<hr><br>

<div class="signUpForm">
	<h1>Reactive Forms</h1>
	<signup-form></signup-form>
</div>
<br><br><br>  
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
